Reset some default setting
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: radial-gradient(circle at top, #1A1F3A, #0A0F1C);
    display: flex; 
    height: 120vh;
    align-items: center;
    justify-content: center;
}

/* Main Container */
.container {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    border: 1px solid #00F5FF;
    width: 400px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out; 
    align-items: center;

}

.registration-form h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 5px;
    font-size: 32px;
    background: linear-gradient(90deg, #00F5FF, #8A2BE2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    font-weight: 700px;
    font-weight: bold;
    margin-bottom: 5px;
    background: linear-gradient(90deg, #00F5FF, #8A2BE2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-group input,
.input-group select {
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    outline: none; 
    transition: all 0.3s ease;
    color: #EAF2FF;
    border: 1px solid rgba(0, 245, 255, 0.3);
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(5px);
}

.input-group input:focus,
.input-group select:focus {
    border: 1px solid #00F5FF;
    box-shadow: 0 0 8px #00F5FF;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(90deg, #00F5FF, #8A2BE2);
    color: white;
    backdrop-filter: blur(6px);
}

.btn:hover {
    transform: translateY(-2px);
    background: #8A2BE2;
    box-shadow: 0 0 15px #8A2BE2, 0 0 30px #8A2BE2;
}

.footer-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: white;
}

.footer-text a {
    color: #6e8efb;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
}

.footer-text a:hover {
    text-decoration: underline;
}

/* Animation */

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}