Reset some default setting
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #8b97db, #624d80);
    /* background: magenta; */
    display: flex; 
    height: 110vh;
    align-items: center;
    justify-content: center;
}

/* Main Container */
.container {
    background: #f3e9e9;
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out; 
    align-items: center;

}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4f48b9;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    font-weight: 600px;
    margin-bottom: 3px;
    color: #555;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none; 
    transition: all 0.3s ease;

}

.input-group input:focus,
.input-group select:focus {
    border-color: #6e8efb;
    box-shadow: 0 0 5px rgba(110, 142, 251, 0.5);
}

.btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: linear-gradient(135deg, #5b75e8, #9166d2);
    transform: translateY(-2px);
}

.footer-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.footer-text a {
    color: #6e8efb;
    text-decoration: none;
    font-weight: bold;
}

.footer-text a:hover {
    text-decoration: underline;
}

/* Animation */

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}